.section{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.main{
  margin-top: 90px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.title{
  flex:  1 0 100%;
  font-size: 20px;
  margin: 30px 0;
  font-weight: lighter;
  font-style: italic;
  color: #8d8d8d;
  text-transform: uppercase;
}